<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Exemplo do Google Cloud Vision
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content text-center style="height: 75%" *ngIf="imagem">
    <img [src]="imagem" style="height:100%; width:auto;">
  </ion-content>
  <ion-button expand="block" color="primary" (click)="tirarFoto()" *ngIf="!imagem">Tirar foto</ion-button>
  <ion-button expand="block" color="primary" (click)="localizarEndereco()" *ngIf="imagem && hasStreetSign">Localizar endereço</ion-button>
  <ion-button expand="block" color="medium" (click)="limpar()" *ngIf="imagem">Voltar</ion-button>
</ion-content>