<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Exemplo do Google Cloud Vision
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center style="height: calc(100% - (36px + 4px * 2) * 2);" *ngIf="imagem">
    <img [src]="imagem" style="height:100%; width:auto;">
  </div>
  <div *ngIf="imagem && hasStreetSign === false">
    <p>Isso não parece uma placa de rua!</p>
    <p>Por favor, tente de novo</p>
  </div>
  <ion-button expand="block" color="primary" (click)="tirarFoto()" *ngIf="!imagem || hasStreetSign === false">Tirar foto</ion-button>
  <ion-button expand="block" color="primary" (click)="localizarEndereco()" *ngIf="imagem && hasStreetSign">Localizar endereço</ion-button>
  <ion-button expand="block" color="medium" (click)="limpar()" *ngIf="imagem">Voltar</ion-button>
</ion-content>